[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
tensorflow = ">=1.4.0"
pandas = ">=0.22.0"
scikit-learn = "==0.19.1"
matplotlib = "*"
seaborn = "==0.8"
imbalanced-learn = "*"
tensorlayer = "*"
keras = "*"
xgboost = "*"
"f0b22ea" = {file = "http://download.pytorch.org/whl/cpu/torch-0.3.0.post4-cp36-cp36m-linux_x86_64.whl"}


[dev-packages]



[requires]

python_version = "3.6"
