numpy
tensorflow
# http://download.pytorch.org/whl/cu80/torch-0.3.0.post4-cp36-cp36m-linux_x86_64.whl
# torchvision
pandas
scikit-learn
matplotlib
seaborn
xgboost
imbalanced-learn
tensorlayer
skorch
pipenv==9.0.1
